h1           { color: #000000; font-family: "Times New Roman"; font-size: 36px; text-align: left }
h2           { color: #000000; font-family: "Times New Roman"; font-size: 18px; text-align: left }
h3           { color: #000000; font-family: "Times New Roman"; font-size: 16px; text-align: left }
li           { color: #000000; font-family: Arial; font-size: 14px; text-align: left }
p            { color: #000000; font-family: Arial; font-size: 14px; text-align: left }

